*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Bahnschrift;
}
body{
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(blue, red);
}
.logo{
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 50px;
    width: 160px;
    height: 100px;
}
.slider{
    width: 1920px;
    height: 1080px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 1920px;
    height: 1080px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    transition: 2s;
}
.nav-manual{
    position: absolute;
    margin-top: -1020px;
    margin-left: 885px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2.2px solid white;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}
.manual-btn:not(:last-child){
    margin-right: 60px;

}
.manual-btn:hover{
    background: blue;
    transition: 0.5s;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
ul{
    float: right;
    margin-top: 12px;
    margin-right: 50px;
}
ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
ul li a{
    color:white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}
ul ul{
    display: none;
}
ul li:hover > ul{
    display: block;
}
a.active,a:hover{
    background:rgba(0, 0, 255, 0.255);
    transition: 0.22s;
}
.dropdown-menu{
    position: relative;
    z-index: 1;
    line-height: 20px;
}
.dropdown-content{
    display: none;
    position: absolute;
    list-style-type: none;
    background-color: rgba(0, 0, 255, 0.255);
    padding: 2%;
}
.dropdown-content li{
    line-height: 40px;
    padding: 10px;
}
.dropdown-menu:hover .dropdown-content{
    display: block;
}
footer{
    background-color: rgb(31, 31, 31);
    height: 160px;
}
.osm{
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.socials{
    display: table-cell;
    height: 300px;
    text-align: center;
    width: 1800px;
    vertical-align: middle;
}